
.grid {
  color: var(--bsk-color-eggplant);
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

[class*='size'] {
  padding-top: 0.5em;
  margin-top: 0;
  white-space: nowrap;
}

.graphik {
  font-family: var(--bsk-font-graphik);
}

.roboto {
  font-family: var(--bsk-font-roboto);
}

.number.graphik {
  font-weight: 200;
  grid-column: 1/2;
}

.heading {
  font-weight: 700;
  grid-column: 2/3;
}

.body {
  font-weight: 400;
}

.body.graphik {
  grid-column: 3/4;
}

.body.roboto {
  grid-column: 4/5;
}

.number.roboto {
  grid-column: 5/6;
}

[class*='size'] {
  transition: color 0.25s var(--bezier);
}

[class*='size']:hover {
  color: var(--bsk-color-fuchsia);
  transition-duration: 0s;
}

@for $i from 0 through 20 {
  .size-#{$i} {
    font-size: var(--bsk-font-size-#{$i});
    grid-row-start: #{21 - $i}
  }
}


@for $i from 11 through 20 {
  .size-#{$i} {
    line-height: 1.1;
    margin-bottom: 1em;
    box-shadow: inset 0 2px 0 0 currentColor;
  }
}

@for $i from 6 through 10 {
  .size-#{$i} {
    line-height: 1.25;
    margin-bottom: 1.5em;
    box-shadow: inset 0 1.5px 0 0 currentColor;
  }
}

@for $i from 0 through 5 {
  .size-#{$i} {
    line-height: 1.5;
    margin-bottom: 2em;
    box-shadow: inset 0 1px 0 0 currentColor;
  }
}

@for $i from 11 through 20 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-3);
  }
}

@for $i from 6 through 10 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-2);
  }
}

@for $i from 0 through 5 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-1);
  }
}

@for $i from 11 through 20 {
  .graphik.number.size-#{$i} {
    font-weight: 200;
  }
}

@for $i from 6 through 10 {
  .graphik.number.size-#{$i} {
    font-weight: 300;
  }
}


@for $i from 0 through 5 {
  .graphik.number.size-#{$i} {
    font-weight: 400;
  }
}


body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  color: var(--color-eggplant);
  font-family: var(--bsk-font-graphik);
}

.Header {
  margin-bottom: 120px;
}

.Grid {
  margin-bottom: 120px;
}

.Eyebrow {
  font-family: var(--bsk-font-graphik);
  line-height: 1.2;
  letter-spacing: var(--bsk-letter-spacing-tight-3);
  font-size: var(--bsk-font-size-6);
  color: var(--color-eggplant-60);
  font-weight: 600;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.H1 {
  font-family: var(--bsk-font-graphik);
  line-height: 1.2;
  letter-spacing: var(--bsk-letter-spacing-tight-3);
  font-size: var(--bsk-font-size-14);
  font-weight: 700;
  width: 100%;
  max-width: 15em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.H2 {
  font-family: var(--bsk-font-graphik);
  line-height: 1.2;
  letter-spacing: var(--bsk-letter-spacing-tight-3);
  font-size: var(--bsk-font-size-8);
  font-weight: 700;
  width: 100%;
  max-width: 15em;
}

.Subhead {
  line-height: 1.4;
  letter-spacing: var(--bsk-letter-spacing-tight-2);
  font-size: var(--bsk-font-size-4);
  color: var(--color-eggplant-60);
  font-weight: 400;
  max-width: 15em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.Subhead:last-child {
  margin-bottom: 0;
}

.Link {
  color: var(--color-slime-text);
  font-weight: 500;
  text-decoration: none;
}

.Navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Previous,
.Next {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: var(--bsk-font-size-14);
  display: grid;
  align-items: center;
  justify-content: center;
}

.Previous {
  background-color: var(--color-gainsboro-dark);
  color: var(--color-eggplant);
}

.Previous:hover {
  background-color: var(--color-gainsboro-darker);
}

.Next {
  background-color: var(--color-slime);
  color: var(--color-eggplant);
}

.Next:hover {
  background-color: var(--color-slime-dark);
}
