:root {
  /* Type scale */
  --bsk-font-size-0: 9.989px;
  --bsk-font-size-1: 11.237px;
  --bsk-font-size-2: 12.642px;
  --bsk-font-size-3: 14.222px;
  --bsk-font-size-4: 16px;
  --bsk-font-size-5: 18px;
  --bsk-font-size-6: 20.25px;
  --bsk-font-size-7: 22.781px;
  --bsk-font-size-8: 25.629px;
  --bsk-font-size-9: 28.833px;
  --bsk-font-size-10: 32.437px;
  --bsk-font-size-11: 36.491px;
  --bsk-font-size-12: 41.053px;
  --bsk-font-size-13: 46.184px;
  --bsk-font-size-14: 51.957px;
  --bsk-font-size-15: 58.452px;
  --bsk-font-size-16: 65.758px;
  --bsk-font-size-17: 73.978px;
  --bsk-font-size-18: 83.225px;
  --bsk-font-size-19: 93.628px;
  --bsk-font-size-20: 105.332px;

  /* Font Weight */
  --bsk-font-weight-200: 200;
  --bsk-font-weight-300: 300;
  --bsk-font-weight-400: 400;
  --bsk-font-weight-500: 500;
  --bsk-font-weight-600: 600;
  --bsk-font-weight-700: 700;

  /* Letter Spacing */
  --bsk-letter-spacing-large-1: 0.03em;
  --bsk-letter-spacing-large-2: 0.1em;
  --bsk-letter-spacing-large-3: 0.15em;
  --bsk-letter-spacing-tight-1: -0.005em;
  --bsk-letter-spacing-tight-2: -0.01em;
  --bsk-letter-spacing-tight-3: -0.025em;
  --bsk-letter-spacing-tight-4: -0.035em;

  /* Font Family */
  --bsk-font-graphik: 'Graphik', sans-serif;
  --bsk-font-roboto: 'Roboto', sans-serif;

  --bsk-color-eggplant: hsla(264, 47%, 18%, 1);
  --bsk-color-slime: hsla(166, 82%, 57%, 1);
  --bsk-color-fuchsia: hsla(327, 82%, 48%, 1);
  --bezier: cubic-bezier(0.32, 0.01, 0, 1);
}

.grid {
  color: var(--bsk-color-eggplant);
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-column-gap: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

[class*='size'] {
  padding-top: 0.5em;
  margin-top: 0;
  white-space: nowrap;
}

.graphik {
  font-family: var(--bsk-font-graphik);
}

.roboto {
  font-family: var(--bsk-font-roboto);
}

.number.graphik {
  font-weight: 200;
  grid-column: 1/2;
}

.heading {
  font-weight: 700;
  grid-column: 2/3;
}

.body {
  font-weight: 400;
}

.body.graphik {
  grid-column: 3/4;
}

.body.roboto {
  grid-column: 4/5;
}

.number.roboto {
  grid-column: 5/6;
}

[class*='size'] {
  transition: color 0.25s var(--bezier);
}

[class*='size']:hover {
  color: var(--bsk-color-fuchsia);
  transition-duration: 0s;
}

@for $i from 0 through 20 {
  .size-#{$i} {
    font-size: var(--bsk-font-size-#{$i});
    grid-row-start: #{21 - $i}
  }
}


@for $i from 11 through 20 {
  .size-#{$i} {
    line-height: 1.1;
    margin-bottom: 1em;
    box-shadow: inset 0 2px 0 0 currentColor;
  }
}

@for $i from 6 through 10 {
  .size-#{$i} {
    line-height: 1.25;
    margin-bottom: 1.5em;
    box-shadow: inset 0 1.5px 0 0 currentColor;
  }
}

@for $i from 0 through 5 {
  .size-#{$i} {
    line-height: 1.5;
    margin-bottom: 2em;
    box-shadow: inset 0 1px 0 0 currentColor;
  }
}

@for $i from 11 through 20 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-3);
  }
}

@for $i from 6 through 10 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-2);
  }
}

@for $i from 0 through 5 {
  .graphik.size-#{$i} {
    letter-spacing: var(--bsk-letter-spacing-tight-1);
  }
}

@for $i from 11 through 20 {
  .graphik.number.size-#{$i} {
    font-weight: 200;
  }
}

@for $i from 6 through 10 {
  .graphik.number.size-#{$i} {
    font-weight: 300;
  }
}


@for $i from 0 through 5 {
  .graphik.number.size-#{$i} {
    font-weight: 400;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Bold-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Bold-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Semibold-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Semibold-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Medium-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Medium-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Regular-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Regular-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Light-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Light-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://media.better.com/fonts/graphik/Graphik-Thin-Web.eot');
  src: url('https://media.better.com/fonts/graphik/Graphik-Thin-Web.eot?#iefix') format('embedded-opentype'),
       url('https://media.better.com/fonts/graphik/Graphik-Thin-Web.woff2') format('woff2'),
       url('https://media.better.com/fonts/graphik/Graphik-Thin-Web.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
