body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  color: var(--color-eggplant);
}

.eyebrow {
  font-family: var(--bsk-font-graphik);
  line-height: 1.2;
  letter-spacing: var(--bsk-letter-spacing-tight-3);
  font-size: var(--bsk-font-size-14);
  font-weight: 700;
  width: 100%;
  max-width: 15em;
}
