.grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column-gap: 64px;
  margin-bottom: 128px;
}

.grid:last-child {
  margin-bottom: 0;
}

.header {
  margin-bottom: 64px;
}

.figure {
  margin: 0;
}

.image {
  width: 540px;
  height: 540px;
}

.caption {
  font-family: var(--bsk-font-graphik);
  line-height: 1.4;
  letter-spacing: var(--bsk-letter-spacing-tight-3);
  font-size: var(--bsk-font-size-3);
  font-weight: 600;
  width: 100%;
  padding-top: 16px;
}

.small {
  color: var(--color-eggplant-60);
  font-size: var(--bsk-font-size-2);
}

.strikethrough {
  text-decoration: line-through;
  color: var(--color-eggplant-60);
}

.warning {
  color: var(--color-rouge);
}

.success {
  color: var(--color-slime-text);
}


