.Figure {
  display: block;
  width: 20vw;
  position: relative;
  margin-bottom: 32px;
}

.Figure::after {
  content: '';
  padding-top: 100%;
  width: 100%;
  display: block;
}

.Figure-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.Button {
  padding: 1em 2em;
  background-color: var(--color-slime);
  color: var(--color-eggplant);
  font-family: var(--bsk-font-graphik);
  font-size: var(--bsk-font-size-3);
  letter-spacing: var(--bsk-letter-spacing-tight-2);
  font-weight: 500;
  border-radius: 32px;
  cursor: pointer;
}

.Button:hover {
  background-color: var(--color-slime-dark);
}

.Promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
